{
  "parser": "babel-eslint",
  "extends": ["standard", "standard-jsx", "standard-react", "./node_modules/standard/eslintrc.json"],
  "env": {
    "browser": true,
    "mocha": true,
    "jest": true,
    "es6": true,
    "es2021": true
  },
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "globals": {
    "window": true,
    "document": true,
    "BigInt": true
  },
  "rules": {
    "react/prop-types": 0,
    "semi": [2, "always"]
  }
}
